
<link href="../css/header-css/header-orta.css" rel="stylesheet" />
<!--<div class="header-middle navbar navbar-default navbar-fixed-top" style="background-color:white;margin-top:1px;height:70px;">
    
    <div class="container">
        <div class="row" ng-hide="headerlogin">
            <div class="col-sm-2">
                <div class="logo pull-left">
                    <a ng-click="logox();"><img src="{{logo}}" alt="" style="height:30px;" /></a>
                </div>
            </div>
            <div class="col-sm-2">
                <div>
                    <label class="sr-only" for="exampleInputEmail2">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" ng-model="email" required>
                </div>
            </div>
            <div class="col-sm-2">
                <div>
                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" ng-model="sifre" required>
                </div>
            </div>
            <div class="col-sm-2">
                <div>
                    <div class="btn plan-buttonn" ng-click="girisyapx();">Giriş</div>
                    &nbsp;
                    <div class="btn plan-buttonn" ng-click="kayitx();">Kayıt</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="shop-menu pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="{{hesabim}}"><i class="fa fa-list"></i> Liste</a></li>
                        <li><a href="{{favorilerim}}"><i class="fa fa-image"></i> Resim</a></li>
                        <li><a href="{{sepetim}}"><i style="color:#FE980F;font-weight:bold;">{{spetadet}}</i><i class="fa fa-shopping-cart"></i> {{tutar}} TL</a></li>
                    </ul>
                </div>
            </div>
        </div>




        <div class="row" ng-show="headerlogin">
            <div class="col-sm-4">
                <div class="logo pull-left">
                    <a ng-click="logox();"><img src="{{logo}}" alt="" style="height:30px;" /></a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="shop-menu pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="{{hesabim}}"><i class="fa fa-list"></i> Liste</a></li>
                        <li><a href="{{favorilerim}}"><i class="fa fa-picture-o"></i> Resim</a></li>
                        <li><a href="{{sepetim}}"><i style="color:#FE980F;font-weight:bold;">{{spetadet}}</i><i class="fa fa-shopping-cart"></i> {{tutar}} TL</a></li>
                        <li><a ng-click="cikis()"><i class="fa fa-sign-out"></i>ÇIKIŞ - {{kmail}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->




<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id="toggleButton" class="navbar-toggle plan-buttonn " data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-click="logox();"><img src="{{logo}}" alt="Fast Rest Akıllı Restoran" style="height:30px;margin:10px 10px 10px 10px" /></a>
        </div>
        <div class="collapse navbar-collapse collapse" id="myNavbar">
          
            <ul class="nav navbar-nav navbar-right" ng-hide="headerlogin">
                <li class="li-loginItem-Margin">
                    <input type="email" class="form-control nav-margin"  id="exampleInputEmail2" placeholder="Email address" ng-model="email" required>
                </li>
                <li class="li-loginItem-Margin">
                    <input type="password" class="form-control"  id="exampleInputPassword2" placeholder="Password" ng-model="sifre" required>
                </li>
                <li class="li-loginItem-Margin">

                    <button class="form-control btn plan-buttonn" type="button" ng-click="girisyapx();">Giriş</button>

                 </li>
                <li class="li-loginItem-Margin">

                    <button class="form-control btn plan-buttonn" type="button" ng-click="kayitx();">Kayıt</button>
                </li>
            </ul>
                <ul class="nav navbar-nav navbar-right text-left" ng-show="headerlogin">
                    <li><a href="{{hesabim}}"><i class="fa fa-list"></i>Liste</a></li>
                    <li><a href="{{favorilerim}}"><i class="fa fa-image"></i>Resim</a></li>
                    <li><a href="{{sepetim}}"><i style="color:#FE980F;font-weight:bold;">{{spetadet}}</i><i class="fa fa-shopping-cart"></i> {{ tutar}} TL</a></li>
                    <li><a ng-click="cikis()"><i class="fa fa-sign-out"></i>ÇIKIŞ - {{kmail}}</a></li>
            </ul>
           
        </div>
    </div>
    
</nav>

<script>
    $(document).ready(function () {
        $('#toggleButton').click(function () {
            $('#myNavbar').collapse('toggle');
        });
    });
</script>