 @import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

body {
     position: absolute;
}

.affix {
     position: fixed !important; /*sepetin responsive genıslıge sahıp olabılmesı ıcın position fized olmalıdır*/
}
.input-attribute{
    width:20px;
    border-radius:25%;
    text-align:center;
    position:center;
}
.basket-name{
    text-align:left;
     font-size:1.3vh;
       color:#c70e0e;
    margin-left:5px;
}
.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 10px 5px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 5px;
  font-size: 4.3vw;
}
.panel-pricing .panel-heading .h3 {
  margin-top: 5px;
  font-size: 4.3vw;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 2.3vw;
  color: #777777;
  padding: 10px;
  margin: 0px;
}
.font{
 font-size:1.3vh;
}


 .dynamic-menu{
text-align:left;
font-size:0.6vw; 
color:#777777;
 }
