<link href="css/homes-css/home-picture.css" rel="stylesheet" />
<link href="css/sepet-css/sepet.css" rel="stylesheet" />

<style>
     @import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

     .pic-fontSize{
         font-size:1.3vw 1.3vh;
     }
     .img-thumbnail{
        /*border-style:none;  şimdiik förmek amaclı border rengi var ama normalde kaldırıcam*/
        border-color:crimson;
     }


 </style>


<script>


    triggerRefresh = false;

    function forceARefresh() {
        main.triggerRefresh = true;
        $timeout(function () {
            main.triggerRefresh = false;
        });
    }

    /* Option 2 - use an int and increment it each time */
    triggerRefresh = 0;

    function forceARefresh() {
        main.triggerRefresh++;
    }

</script>







    <!--Resim tıklanınca acılan sayfa-->
<section>
    <div ng-controller="GroupAndProductCtrl" id="home">

        <!--home sayfasında salatalar dinamik menüler gibi grup isimleri gelir-->
        <div class="container">

            <div class="row">
                <!-- wrap tabset in a div with scrolling-tabs-wrapper directive on it -->
            
                    <div class="scrolling-tabs-container" watch-tabs="GroupAndProductCtrl.groups">
                     
                     
                        <div scrolling-tabs-wrapper  refresh-on="GroupAndProductCtrl.triggerRefresh">
                            <uib-tabset>
                                <uib-tab ng-repeat="group in groups" heading="{{group.adi}}" ng-click="ClikGroup(group.id)"></uib-tab>
                            </uib-tabset>
                        </div>
                      
                    </div>
              
            </div>
                        <div class="row" style="padding-top:20px">
                            <div class="col-sm-4 hidden-xs">
                                <!--telefonlarda sepetin gorunmesını kaldırıyorum-->
                                <div>
                                    <fr-sepet></fr-sepet>
                                </div>
                            </div>
                            <!-- thumbnaillerin aynı hızada sonlanması gerekıyor--> 
                            <div class="col-sm-8">
                                <div class="col-lg-12">
                                    <div class="features_items">
                                        <div ng-repeat="urun in urunler">
                                            <div class="col-lg-3 col-ms-4 col-sm-6 col-xs-6">
                                                <div class="product-image-wrapper">
                                                    <div class="productinfo text-center pic-fontSize img-thumbnail">
                                                        <p class="pic-fontSize">{{urun.pname}}</p>
                                                        <img src="https://i.ytimg.com/vi/EqXiTCXc6Ag/maxresdefault.jpg" class="img-responsive thumbnail" />
                                                        <!--h2 olduğu için yazdıgım font uygulanmıyor-->
                                                        <h2 ng-if="urun.dmid < 1">{{urun.pfiyat}} TL</h2>
                                                        <h2 ng-if="urun.dmid > 0">{{urun.dmfiyat}} TL</h2>

                                                        <!--yazdığım margin ile sayfa kuculse dahi butonun thumbnaıl ıcerısınde sıkısmasını kenaralra yapısmasını onledım-->
                                                        <a class="btn btn-danger btn-sm add-to-cart pic-fontSize" style="padding:4px 7px 7px 4px" ng-if="urun.dmid < 1" ng-click="sepeteAt(urun,$index,1)">
                                                            <i class="fa fa-shopping-cart"></i><br />Sepete Ekle
                                                        </a>
                                                        <a class="btn btn-danger btn-sm add-to-cart pic-fontSize" ng-if="urun.dmid > 0" style="padding:4px 7px 7px 4px" ng-click="dynamicModalOpen(urun,$index,1);">
                                                            <i class="fa fa-shopping-cart"></i><br/>Sepete Ekle
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12" ng-if="($index+1)%4 == 0"></div>
                                        </div>
                                    </div>

                                </div><!--features_items-->
                            </div>
                        </div>
                    
             </div>
            </div>
</section>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="../js/scrolltab-js/scrolling-tabs.js"></script>
