

<link href="../css/homes-css/home-liste.css" rel="stylesheet" />

    <div class="section-liste">
        <div class="container" ng-controller="GroupAndProductCtrl2" id="home">
            <div class="row">
                <div class="col-sm-4">
                    <fr-sepet></fr-sepet>
                </div>
                <div class="col-sm-8">
                    <table class="table stats caps" ng-repeat="group in groups">

                        <!--home sayfasında salatalar dinamik menüler gibi grup isimleri gelir-->
                        <thead>

                            <tr style="background:#fff;color:black;font-style:oblique;height:50px;border: 1px solid rgba(13, 11, 11, 0.1);">

                                <td colspan="2" style="text-align:center;">{{group.adi}}</td>

                            </tr>
                        </thead>
                        <!--home sayfasında listele dendiğinde gruplar altında listelenen yemekler-->
                        <tbody style="border: 1px solid rgba(13, 11, 11, 0.1); font-size:10px;">
                            <tr style="background:#fff;" ng-repeat="urun in group.product">
                                <!--Adjust bg and font colors inline-->
                                <td style="width:7%;"><input type="number" value="{{price}}" style="width:100%;border-radius:10%;" ng-model="price" /></td>
                                <td ng-if="urun.dmid < 1"
                                    ng-click="sepeteAt(urun,$index,price)" style="width:7%;padding:1px;border-radius:20%;text-align:center;">
                                    <div style="background-color:#c70e0e;color:#fff; font-size :10px; font-style:oblique;margin:7px;border-radius:20%;text-align:center;cursor:pointer;">+</div>
                                </td>
                                <td ng-if="urun.dmid > 0" ng-click="dynamicModalOpen(urun,$index,price);"
                                    style="width:7%;padding:1px;border-radius:20%;text-align:center;">
                                    <div data-toggle="modal" data-target="#dynamicModal"
                                         style="background-color:#c70e0e;color:#fff; font-size :10px; font-style:oblique;margin:7px;border-radius:20%;text-align:center;cursor:pointer;">+</div>
                                </td>
                                <td style="color:#FE980f; border-radius:6px;font-style:oblique; font-size:10px;">{{urun.pname}}</td>
                                <td ng-if="urun.dmid < 1" style="width:10%;color:#FE980f; border-radius:6px;font-style:oblique;">{{urun.pfiyat}} TL</td>
                                <td ng-if="urun.dmid > 0" style="width:10%;color:#FE980f; border-radius:6px;font-style:oblique;">{{urun.dmfiyat}} TL</td>
                            </tr>
                        </tbody>

                    </table>



                </div>
            </div>
            <div>

            </div>
        </div>
    </div>






































<!--<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!--<div style="height:100px;background-color:antiquewhite;"></div>
        </div>
    </div>
</div>


<!--<div class="container" ng-controller="GroupAndProductCtrl2" id="home">
    <div class="row">
        <div class="col-sm-3">


            <di>
                <fr-sepet></fr-sepet>
            </di>
        </div>

        <div class="col-sm-6">

            <table class="table stats caps" ng-repeat="group in groups">

                <!--home sayfasında salatalar dinamik menüler gibi grup isimleri gelir
                <thead>

                    <tr style="background:#fff;color:black;font-style:oblique;height:50px;border: 1px solid rgba(13, 11, 11, 0.1);">

                        <td></td>
                        <td colspan="2" style="text-align:center;">{{group.adi}}</td>
                        <td></td>
                    </tr>
                </thead>
                <!--home sayfasında listele dendiğinde gruplar altında listelenen yemekler
                <tbody style="border: 1px solid rgba(13, 11, 11, 0.1); font-size:10px;">
                    <tr style="background:#fff;" ng-repeat="urun in group.product">
                        <!--Adjust bg and font colors inline
                        <td style="width:7%;"><input type="number" value="{{price}}" style="width:100%;border-radius:10%;" ng-model="price" /></td>
                        <td ng-if="urun.dmid < 1"
                            ng-click="sepeteAt(urun,$index,price)" style="width:7%;padding:1px;border-radius:20%;text-align:center;">
                            <div style="background-color:#c70e0e;color:#fff; font-size :10px; font-style:oblique;margin:7px;border-radius:20%;text-align:center;cursor:pointer;">+</div>
                        </td>
                        <td ng-if="urun.dmid > 0" ng-click="dynamicModalOpen(urun,$index,price);"
                            style="width:7%;padding:1px;border-radius:20%;text-align:center;">
                            <div data-toggle="modal" data-target="#dynamicModal"
                                 style="background-color:#c70e0e;color:#fff; font-size :10px; font-style:oblique;margin:7px;border-radius:20%;text-align:center;cursor:pointer;">+</div>
                        </td>
                        <td style="color:#FE980f; border-radius:6px;font-style:oblique; font-size:10px;">{{urun.pname}}</td>
                        <td ng-if="urun.dmid < 1" style="width:10%;color:#FE980f; border-radius:6px;font-style:oblique;">{{urun.pfiyat}} TL</td>
                        <td ng-if="urun.dmid > 0" style="width:10%;color:#FE980f; border-radius:6px;font-style:oblique;">{{urun.dmfiyat}} TL</td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>

</div>
-->
