body {
}
    .plan-buttonn {
        background-color: slategray;
        color: white;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 10px;
        
    }

        .plan-buttonn:active {
            color: #c70e0e;
            background-color: #c70e0e;
        }

        .plan-buttonn:hover {
            color: #ffffff;
            background-color: #c70e0e;
        }
        .li-loginItem-Margin{
          margin:10px 10px 10px 10px;
        }