<link href="../css/homes-css/home-color.css" rel="stylesheet" />
<link href="../../../css/homes-css/accountInfo.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="circle-tile">
            <a>
                <div class="circle-tile-heading blue">
                    <i class="fa fa-location-arrow fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content blue">
                <div class="circle-tile-description text-faded">
                    Adreslerim
                </div>

                <div class="circle-tile-dropdown blue">
                    <div class="select-wrapper">
                        <select class="select blue text-faded"ng-model="adres_sehir" name="adres_sehir"
 ng-options="Atanim as Atanim.tanim for Atanim in adresler track by Atanim.id"
ng-change="change_address(adres_sehir.id)">
                           
                        </select>
                        <span class="select-icon entypo-arrow-combo"></span>
                    </div>
                    <!--<select   class="blue text-faded" ng-model="adres_sehir" name="adres_sehir"
 ng-options="Atanim as Atanim.tanim for Atanim in adresler track by Atanim.id"
ng-change="change_address(adres_sehir.id)"></select>-->

                </div>
               
            </div>
        </div>
  
        </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="circle-tile">
            <a>
                <div class="circle-tile-heading green">
                    <i class="fa fa-money fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content green">
                <div class="circle-tile-description text-faded">
                    Minimum Sipariş
                </div>
                <div class="circle-tile-number text-faded">
                    {{minpak}} ₺
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="circle-tile">
            <a>
                <div class="circle-tile-heading red">
                    <i class="fa fa-car fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content red">
                <div class="circle-tile-description text-faded">
                    Servis süresi
                </div>
                <div class="circle-tile-number text-faded">
                    {{servissure}} DAKİKA
                    <span id="sparklineC"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="circle-tile">
            <a>
                <div class="circle-tile-heading orange">
                    <i class="fa fa-clock-o fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content orange">
                <div class="circle-tile-description text-faded">
                    Hizmet Saatleri
                </div>
                <div class="circle-tile-number text-faded">
                    {{acsaat +' '+kapsaat}} 
                    <span id="sparklineC"></span>
                </div>
            </div>
        </div>
    </div>

</div>
