<style>
    
    .addressheader {
        border: 1px solid #808080;
        background-color: #c70e0e;
        border-bottom-color: transparent;
        font-size: 20px;
        color: white;
    }
    </style>

<div ng-repeat="adres in adresler">
    <div class="addressheader col-sm-12">
        <div class="col-sm-11">
            <span class="glyphicon glyphicon-home"></span> {{adres.tanim}}  
        </div>
        <div class="col-sm-1">
            <span class="glyphicon glyphicon-pencil" ng-click="addressupdate($index);"></span>
        </div>
    </div>
    <div class="clearfix"></div>
   
    <div class="col-sm-8"> <!-- buradaki click ı almak ıstıyorum-->
        <div class="col-sm-12">
            <input type="radio" name="adresradio" ng-model="adresradio.id" value="{{adres.id}}"/> <i>{{adres. adi+' '+adres.soyadi}}</i>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12">
            <i>{{adres.adres}}</i>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12">
            <i>{{adres.ilce +' , '+ adres.sehir}}</i>
        </div>
   
    </div>

    <div class="col-sm-4">

        <div class="col-sm-12">
            <i>{{adres.mail}}</i>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12">
            <i>{{adres.telefon}}</i>
        </div>
    </div>


    <div class="clearfix"></div>
    <div class="col-sm-12">
    </div>
</div>