
<link href="../css/homes-css/home-color.css" rel="stylesheet" />
<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<script type="text/ng-template" id="dynamicmodal" ng-cloak>
    <form id="dynamicForm" class="form-horizontal">

        <div class="col-sm-12">
            <div class="col-sm-3">
                <img src="https://i.ytimg.com/vi/EqXiTCXc6Ag/maxresdefault.jpg" style="width:100px;" /></br>
                {{dynamic.pname}}<br>
                {{dynamicfiyat}}
            </div>
            <div class="col-sm-9">
                <div ng-repeat="menu in dynamicMenu">
                    <ng-form name="dinamikmenuform">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">{{menu.g_adi}}</label>
                            <div class="col-sm-10">
                                <div style="color:red">*</div>
                                <div ng-show="hatalar">
                                    <div ng-hide="menu.secim" style="color:red">SEÇİM YAPIN</div>
                                </div>
                                <select ng-model="menu.secim" name="menusecim" ng-change="degisenSecim();"
                                        ng-options="urun as urun.adi for urun in menu.icerik track by urun.sp_id"></select>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-7">
                <button type="button" class="btn btn-lg btn-block green" ng-click="sepeteAtDynax();">
                    <em class="text-faded">SEPETE EKLE</em>
                </button>
            </div>
        </div>
    </form>
</script>



<!--bu sayfanbın yolu belirtildiği için alert te bu kısımda-->
<script type="text/ng-template" id="alertMessage">
    <div class="ngdialog-message" role="alert">
        <strong>{{alertMessageInfo}}</strong>
    </div>
</script>

