<link href="../css/homes-css/accountInfo.css" rel="stylesheet" />
<style>
    .panel:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
</style>
<section class="col-sm-4">
    <div class="container">
        <div class="col-sm-3">
            <div class="panel orange">
                <div class="panel-heading">
                    <p class="text-center text-faded">Geçmiş Siparişlerim</p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <span class="fa fa-coffee"></span> NİSANUR Kahve Sever
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart"></span> NİSANUR Papatya Sever
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-heart"></span>NİSANUR Balıkları Sever
                    </li>
                </ul>
            </div>

        </div>
    </div>

</section>