<!-- Vu script dosyaları sadece  sepetin scroll yaptgında responsive buyuyup kuculmesı ıcın kullanılır-->
<script>
    $(document).ready(function () {
        $('#nav').affix(
            {
                offset: {
                    top: 200,// scroll işlemine başlar başlamaz affix etkin olsun
                    bottom: 50
                  
                }
            }
        );

        $('#nav').affix({
            offset: {
                top: $('myCarousel').height()
            }
        });
    });


    var fixAffixWidth = function () {
        $('[data-spy="affix"]').each(function () {
            $(this).width($(this).parent().width());
        });
    }
    fixAffixWidth();
    $(window).resize(fixAffixWidth);
 
</script>
<style>   
     .affix {
        top:70px;
    }

   .btn:hover {
    background-color: #f39c12;
    cursor: pointer;
    color:rgba(255,255,255,0.7);
    -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
    transition: color 1s;
}

</style>
<!-- sepet.css -->
<link href="css/homes-css/home-color.css" rel="stylesheet" />
<link href="css/sepet-css/sepet.css" rel="stylesheet" />


<section id="sepetScrollspy" class="col-sm-4">
    <div class="container">
        <!-- scroll yaptıktan sonra buraya gırıyor ve buyuyor -->
        <div class="col-sm-3">
            
            <div id="nav" class="panel borderpanel" data-spy="affix" >
                <div class="panel-heading text-center orange" style="font-size:2.3vh;">
                    <p><strong class="text-faded">SEPETİM</strong></p>
                </div>
                <div class="panel-heading text-center" style="font-size:2.3vh;" ng-if="sepetim.length > 0">
                    <p ><strong class="text-faded">{{toplam}} TL</strong></p>
                </div>
                <div class="panel-heading text-center orange" style="font-size:2.3vh;" ng-if="sepetim.length < 1">
                    <p><strong class="text-faded">Sepetinizde ürün yok</strong></p>
                </div>
                <div ng-if="sepetim.length > 0">
                    <table class="table table-responsive table-hover font">
                        <thead>
                            <tr class="text-center">
                                <th class="col-sm-7">Ürün</th>
                                <th class="col-sm-2">Adet</th>
                                <th class="col-sm-2">Fiyat</th>
                                <th class="col-sm-1">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sepet in sepetim" ng-if="sepet.seviye == 0">
                                <th class="col-sm-7 basket-name">
                                    {{sepet.adi}}
                                    <div  ng-repeat="scm in sepet.dynasecim" class="dynamic-menu">{{scm.adi}}</div>
                                </th>
                                <th class="col-sm-2">
                                    <input ng-model="sepet.adet" class="input-attribute" style="width:20px;" value="{{sepet.adet}}" ng-change="adetdegis(sepet.index,sepet.adet);" />
                                </th>
                                <th class="col-sm-2 text-center">{{(sepet.fiyat * sepet.adet).toFixed(2)}}</th>
                                <th class="col-sm-1 text-center" style="cursor:pointer;" ng-click="deleteItem(sepet,sepet.index)">x</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">

                    <a ng-click="toCart();" class="btn btn-sm btn-block red text-faded" style="font-size:1.3vh 1.3vw;" ng-if="sepetim.length > 0">{{toplam}} TL - TAMAMLA!</a>
                </div>
            </div>
        </div>
    </div>
   
</section>



